*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.wrapper .content{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-arrow, .right-arrow{
  width: 70px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  margin: 20px;
}

@media(max-width: 768px){
  .left-arrow, .right-arrow{
    background-color: #fff;
    color: #000;
  }
}

.img-box{
  width: 500px;
  height: 350px;
}

.img-box img{
  width: 100%;
  height: 100%;
}

.indicators-box{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators-box .indicator{
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  margin-right: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.indicators-box .indicator.active{
  background-color: #000;
}

